<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="endpoint" value="https://sweedencentralmze.openai.azure.com/" />
        <add key="api-key" value="4d70d481cea74b43aaabaf78e63b1067" />
        <add key="gpt-deployment" value="gpt-35-turbo" />
        <add key="dalle-deployment" value="dall-e-3" />
    </appSettings>
</configuration>